<mat-nav-list>
    <mat-grid-list cols="5" rowHeight="3:1">
        <mat-grid-tile>
            <mat-card>
                <mat-card-content>
                    <a mat-list-item routerLink="/universe-management/IT" routerLinkActive="active">
                        <mat-icon class="big-icon" inline="false" matListIcon>work</mat-icon>
                        <a matLine>Management</a>
                        <a matLine>Manage ur universe!</a>
                    </a>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card>
                <a mat-list-item routerLink="/universe-editor/IT" routerLinkActive="active">
                    <mat-icon class="big-icon" inline="false" matListIcon>build</mat-icon>
                    <a matLine>Editor</a>
                    <a matLine>Whats ur universe about?</a>
                </a>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</mat-nav-list>