<div fxLayout="row wrap">
    <mat-card class="feature">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <mat-icon class="big-icon" inline="false" matListIcon>language</mat-icon>
            </div>
            <mat-card-title>Universe</mat-card-title>
            <mat-card-subtitle>Save & Load ur data!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>Create</button>
            <button mat-button (click)="saveUniverse()">Save</button>
            <button mat-button (click)="openLoadUniverseDialog()">Load</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="feature" routerLink="/universe-management/{{universe.id}}">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <mat-icon class="big-icon" inline="false" matListIcon>work</mat-icon>
            </div>
            <mat-card-title>Management</mat-card-title>
            <mat-card-subtitle>Manage ur universe!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>Open Management</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="feature" routerLink="/universe-editor/{{universe.id}}">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <mat-icon class="big-icon" inline="false" matListIcon>editor</mat-icon>
            </div>
            <mat-card-title>Editor</mat-card-title>
            <mat-card-subtitle>Whats ur universe about?</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>Open Universe Creator</button>
        </mat-card-actions>
    </mat-card>
</div>