<h2>Universe Management - ID: {{ universeId | async }}</h2>
<div class="artifact-type-selection">
    <mat-form-field appearance="fill">
        <mat-label>Select an Artifact Class</mat-label>
        <mat-select [(value)]="selectedArtifactClass" (selectionChange)="onArtifactTypeSelection($event)">
            <mat-option *ngFor='let artifact of universeArtifactClasses' [value]='artifact'>{{artifact.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<mat-divider></mat-divider>
<h1>{{selectedArtifactClass?.name}}</h1>
<div class="artifact-search">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput #search maxlength="256" placeholder="" [formControl]="searchControl">
      </mat-form-field>
</div>

<div class="artifact-adding">
    <button mat-raised-button color="accent" aria-label="Add" (click)="addArtifactInstance()">
        <mat-icon>add</mat-icon>
        Add new {{ selectedArtifactClass?.name }}
    </button>
</div>

<div class="flex">
    <div class="artifact-instance-selection">
        <mat-selection-list #instances [multiple]="false"
            (selectionChange)="onArtifactInstanceSelection($event, instances.selectedOptions)">
            <mat-list-option *ngFor="let instance of artifactInstances" [value]='instance'>
                {{instance.identifier}}
            </mat-list-option>
        </mat-selection-list>

    </div>

    <div *ngIf='selectedArtifactInstance' class="artifact-instance-details-editor">
        <mat-card>
            <h3>Details</h3>
            {{selectedArtifactInstance?.identifier}}
            <button mat-card-avatar matSuffix mat-icon-button aria-label="Clear"
                (click)="deleteArtifactInstance(selectedArtifactInstance)">
                <mat-icon>delete</mat-icon>
            </button>
            <div *ngFor="let propertie of selectedArtifactInstance?.propertieValuePairs">
                <mat-form-field class="example-form-field">
                    <mat-label>{{propertie.property}}</mat-label>
                    <input matInput type="text" [(ngModel)]="propertie.value">
                    <button *ngIf="propertie.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="propertie.value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </mat-card>
    </div>
</div>