.artifact-type-selection {
    
}

.artifact-adding {
    margin-top: 10px;
}

.artifact-search {
    width: 100%;
}

.artifact-instance-selection {

}

.artifact-instance-hit-headline {
    font-size: 11px;

}

.artifact-instance-hit {
    height: auto;
    border: 1px solid #494949;
    margin-top: 10px;
}

.artifact-instance-hit-content {
    margin: 10px !important;
}

.artifact-instance-details-editor {
    margin-left: 50px;
}

.flex {
    display: flex;
}

.example-full-width {
    width: 100%;
  }